.container
  .row
    .col
      %h3.text-center
        Solicitud de inscripción de
        %br
        Nova Academy
      %br
  .row.justify-content-center
    .col-8.text-center
      .alert.alert-light
        %h4
          Solicitud enviado con éxito.
