@import "bootstrap"
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans+Condensed:300')

body
  font-family: "Noto Sans KR"

header
  padding: 1rem

h1, h2, h3
  font-family: "Open Sans Condensed"


input[type="text"]
  border-radius: 0
  border-color: #ccc
